In [28]:
import os
import dotenv
import dataextraction as db
import pandas as pd

In [29]:
# Loads the environment variables from the .env file
dotenv.load_dotenv()

True

In [30]:
# Saving dataset for use in eda later on
df = pd.read_csv(f'{os.getenv("ROOT_DIR")}\\data\\final.csv')

In [31]:
# Basic statistics
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37815 entries, 0 to 37814
Data columns (total 68 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   subject_id            37815 non-null  int64
 1   heartrate_mean        37813 non-null  float64
 2   sysbp_mean            37785 non-null  float64
 3   diasbp_mean           37784 non-null  float64
 4   meanbp_mean           37811 non-null  float64
 5   resprate_mean         37773 non-null  float64
 6   tempc_mean            37207 non-null  float64
 7   spo2_mean             37789 non-null  float64
 8   glucose_mean          37219 non-null  float64
 9   aniongap_mean         36793 non-null  float64
 10  albumin_mean          14926 non-null  float64
 11  bands_mean            5119 non-null   float64
 12  bicarbonate_mean      37361 non-null  float64
 13  bilirubin_mean        17806 non-null  float64
 14  creatinine_mean       37602 non-null  float64
 15  chloride_mean         37506 non-null  float64
 16  hematocrit_mean       37614 non-null  float64
 17  hemoglobin_mean       37536 non-null  float64
 18  lactate_mean          23559 non-null  float64
 19  platelet_mean         37491 non-null  float64
 20  potassium_mean        37644 non-null  float64
 21  ptt_mean              34279 non-null  float64
 22  inr_mean              34354 non-null  float64
 23  pt_mean               34350 non-null  float64
 24  sodium_mean           37601 non-null  float64
 25  bun_mean              37596 non-null  float64
 26  wbc_mean              37419 non-null  float64
 27  hadm_id               37815 non-null  int64
 28  first_wardid          37815 non-null  int64
 29  last_wardid           37815 non-null  int64
 30  los                   37815 non-null  float64
 31  icustay_id            37815 non-null  int64
 32  los_hospital          37815 non-null  float64
 33  admission_age         37815 non-null  float64
 34  hospital_expire_flag  37815 non-null  int64
 35  hospstay_seq          37815 non-null  int64
 36  first_hosp_stay       37815 non-null  bool
 37  los_icu               37815 non-null  float64
 38  icustay_seq           37815 non-null  int64
 39  first_icu_stay        37815 non-null  bool
 40  row_id                37815 non-null  int64
 41  has_chartevents_data  37815 non-null  int64
 42  gender                37815 non-null  object
 43  insurance             37815 non-null  object
 44  language              24411 non-null  object
 45  religion              37396 non-null  object
 46  marital_status        35654 non-null  object
 47  ethnicity_grouped     37815 non-null  object
 48  diagnosis             37814 non-null  object
 49  ethnicity             37815 non-null  object
 50  first_careunit        37815 non-null  object
 51  last_careunit         37815 non-null  object
 52  admission_type        37815 non-null  object
 53  admission_location    37815 non-null  object
 54  discharge_location    37815 non-null  object
 55  mingcs                37763 non-null  float64
 56  gcsmotor              37514 non-null  float64
 57  gcsverbal             37550 non-null  float64
 58  gcseyes               37667 non-null  float64
 59  endotrachflag         37763 non-null  float64
 60  height                17162 non-null  float64
 61  height_chart          17162 non-null  float64
 62  urineoutput           37762 non-null  float64
 63  vent                  37815 non-null  int64
 64  weight                33863 non-null  float64
 65  weight_admit          30489 non-null  float64
 66  weight_daily          20199 non-null  float64
 67  rrt                   37815 non-null  int64
dtypes: bool(2), float64(41), int64(12), object(13)
memory usage: 19.1+ MB

In [32]:
# Descriptive statistics
df.describe()

,subject_id,heartrate_mean,sysbp_mean,diasbp_mean,meanbp_mean,resprate_mean,tempc_mean,spo2_mean,glucose_mean,aniongap_mean,...,gcseyes,endotrachflag,height,height_chart,urineoutput,vent,weight,weight_admit,weight_daily,rrt
count,37815.000000,37813.000000,37785.000000,37784.000000,37811.000000,37773.000000,37207.000000,37789.000000,37219.000000,36793.00000,...,37667.000000,37763.000000,17162.000000,17162.000000,37762.000000,37815.000000,33863.000000,30489.000000,20199.000000,37815.000000
mean,38308.862647,85.208034,119.165891,60.831461,78.249137,18.687568,36.840642,97.175592,142.411274,14.12893,...,3.072504,0.259354,169.965683,169.965683,1981.441846,0.463017,80.798417,80.711960,83.509425,0.024514
std,29369.953367,15.187488,16.198378,10.452520,10.660786,3.835516,0.612410,2.529748,741.505809,3.44187,...,1.141051,0.438286,13.931826,13.931826,3198.112193,0.498637,24.390690,24.080905,24.398392,0.154641
min,3.000000,31.166667,29.166667,14.500000,17.428571,7.000000,30.000000,11.166667,21.000000,2.00000,...,1.000000,0.000000,106.680000,106.680000,-2600.000000,0.000000,1.000000,1.000000,14.200000,0.000000
25%,14013.000000,74.666667,107.576923,53.744107,70.927249,16.034483,36.479167,96.230769,112.777473,12.00000,...,3.000000,0.000000,162.560000,162.560000,1055.250000,0.000000,65.400000,65.700000,67.400002,0.000000
50%,27969.000000,84.189189,117.000000,59.882353,76.964286,18.066667,36.814815,97.533333,129.600000,13.75000,...,4.000000,0.000000,170.180000,170.180000,1717.000000,0.000000,78.000000,78.000000,80.400002,0.000000
75%,63001.500000,94.710526,129.033333,66.923077,84.446978,20.714286,37.193080,98.638254,154.020833,16.00000,...,4.000000,1.000000,177.800000,177.800000,2590.000000,1.000000,92.000000,91.699997,95.500000,0.000000
max,99999.000000,154.972222,215.833333,129.571429,140.811609,43.777778,40.833333,100.000000,142966.857143,49.00000,...,4.000000,1.000000,485.140000,485.140000,561190.000000,1.000000,1251.000000,1251.000000,491.700000,1.000000

In [33]:
# Provide categorical variables
categorical_types = []
for key in df.dtypes.keys():
    if((df.dtypes[key]) == 'object'):
        print(key)
        categorical_types.append(key)

gender
insurance
language
religion
marital_status
ethnicity_grouped
diagnosis
ethnicity
first_careunit
last_careunit
admission_type
admission_location
discharge_location

In [34]:
# Provide numerical variables
numerical_types = []
for key in df.dtypes.keys():
    if((df.dtypes[key]) != 'object'):
        print(key)
        numerical_types.append(key)

subject_id
heartrate_mean
sysbp_mean
diasbp_mean
meanbp_mean
resprate_mean
tempc_mean
spo2_mean
glucose_mean
aniongap_mean
albumin_mean
bands_mean
bicarbonate_mean
bilirubin_mean
creatinine_mean
chloride_mean
hematocrit_mean
hemoglobin_mean
lactate_mean
platelet_mean
potassium_mean
ptt_mean
inr_mean
pt_mean
sodium_mean
bun_mean
wbc_mean
hadm_id
first_wardid
last_wardid
los
icustay_id
los_hospital
admission_age
hospital_expire_flag
hospstay_seq
first_hosp_stay
los_icu
icustay_seq
first_icu_stay
row_id
has_chartevents_data
mingcs
gcsmotor
gcsverbal
gcseyes
endotrachflag
height
height_chart
urineoutput
vent
weight
weight_admit
weight_daily
rrt

In [42]:
for col in numerical_types:
    print(df[col].describe())
    print("---------------------------------")

count    37815.000000
mean     38308.862647
std      29369.953367
min          3.000000
25%      14013.000000
50%      27969.000000
75%      63001.500000
max      99999.000000
Name: subject_id, dtype: float64
---------------------------------
count    37813.000000
mean        85.208034
std         15.187488
min         31.166667
25%         74.666667
50%         84.189189
75%         94.710526
max        154.972222
Name: heartrate_mean, dtype: float64
---------------------------------
count    37785.000000
mean       119.165891
std         16.198378
min         29.166667
25%        107.576923
50%        117.000000
75%        129.033333
max        215.833333
Name: sysbp_mean, dtype: float64
---------------------------------
count    37784.000000
mean        60.831461
std         10.452520
min         14.500000
25%         53.744107
50%         59.882353
75%         66.923077
max        129.571429
Name: diasbp_mean, dtype: float64
---------------------------------
count    37811.000000
mean        78.249137
std         10.660786
min         17.428571
25%         70.927249
50%         76.964286
75%         84.446978
max        140.811609
Name: meanbp_mean, dtype: float64
---------------------------------
count    37773.000000
mean        18.687568
std          3.835516
min          7.000000
25%         16.034483
50%         18.066667
75%         20.714286
max         43.777778
Name: resprate_mean, dtype: float64
---------------------------------
count    37207.000000
mean        36.840642
std          0.612410
min         30.000000
25%         36.479167
50%         36.814815
75%         37.193080
max         40.833333
Name: tempc_mean, dtype: float64
---------------------------------
count    37789.000000
mean        97.175592
std          2.529748
min         11.166667
25%         96.230769
50%         97.533333
75%         98.638254
max        100.000000
Name: spo2_mean, dtype: float64
---------------------------------
count     37219.000000
mean        142.411274
std         741.505809
min          21.000000
25%         112.777473
50%         129.600000
75%         154.020833
max      142966.857143
Name: glucose_mean, dtype: float64
---------------------------------
count    36793.00000
mean        14.12893
std          3.44187
min          2.00000
25%         12.00000
50%         13.75000
75%         16.00000
max         49.00000
Name: aniongap_mean, dtype: float64
---------------------------------
count    14926.000000
mean         3.204749
std          0.693357
min          1.000000
25%          2.700000
50%          3.200000
75%          3.700000
max          6.300000
Name: albumin_mean, dtype: float64
---------------------------------
count    5119.000000
mean        9.286026
std         9.338266
min         0.900000
25%         3.000000
50%         6.000000
75%        13.000000
max        69.000000
Name: bands_mean, dtype: float64
---------------------------------
count    37361.000000
mean        23.765630
std          4.044667
min          5.000000
25%         21.500000
50%         24.000000
75%         26.000000
max         52.000000
Name: bicarbonate_mean, dtype: float64
---------------------------------
count    17806.000000
mean         1.620222
std          3.806847
min          0.100000
25%          0.400000
50%          0.650000
75%          1.200000
max         80.900000
Name: bilirubin_mean, dtype: float64
---------------------------------
count    37602.000000
mean         1.277567
std          1.230857
min          0.100000
25%          0.716667
50%          0.925000
75%          1.300000
max         33.300000
Name: creatinine_mean, dtype: float64
---------------------------------
count    37506.000000
mean       104.956205
std          5.301456
min         54.800000
25%        102.000000
50%        105.000000
75%        108.000000
max        146.500000
Name: chloride_mean, dtype: float64
---------------------------------
count    37614.000000
mean        33.098189
std          5.335434
min         10.350000
25%         29.225000
50%         32.700000
75%         36.650000
max         68.950000
Name: hematocrit_mean, dtype: float64
---------------------------------
count    37536.000000
mean        11.172535
std          1.895457
min          3.350000
25%          9.800000
50%         11.000000
75%         12.450000
max         21.200000
Name: hemoglobin_mean, dtype: float64
---------------------------------
count    23559.000000
mean         2.411504
std          1.745916
min          0.300000
25%          1.400000
50%          1.950000
75%          2.800000
max         26.750000
Name: lactate_mean, dtype: float64
---------------------------------
count    37491.000000
mean       223.388177
std        105.847602
min          6.000000
25%        155.000000
50%        208.500000
75%        271.500000
max       1592.000000
Name: platelet_mean, dtype: float64
---------------------------------
count    37644.000000
mean         4.211821
std          0.582466
min          1.600000
25%          3.800000
50%          4.150000
75%          4.500000
max         14.950000
Name: potassium_mean, dtype: float64
---------------------------------
count    34279.000000
mean        37.175603
std         18.334258
min         15.200000
25%         26.500000
50%         30.950000
75%         39.600000
max        150.000000
Name: ptt_mean, dtype: float64
---------------------------------
count    34354.000000
mean         1.467566
std          0.846992
min          0.500000
25%          1.100000
50%          1.250000
75%          1.500000
max         32.400000
Name: inr_mean, dtype: float64
---------------------------------
count    34350.000000
mean        15.517900
std          5.798447
min          8.000000
25%         13.000000
50%         14.050000
75%         15.750000
max        150.000000
Name: pt_mean, dtype: float64
---------------------------------
count    37601.000000
mean       138.399650
std          4.195163
min         68.105000
25%        136.500000
50%        138.500000
75%        140.500000
max        179.000000
Name: sodium_mean, dtype: float64
---------------------------------
count    37596.000000
mean        24.242658
std         19.221255
min          1.000000
25%         12.618750
50%         18.000000
75%         28.500000
max        263.000000
Name: bun_mean, dtype: float64
---------------------------------
count    37419.000000
mean        12.201972
std          9.050230
min          0.100000
25%          8.350000
50%         11.050000
75%         14.458333
max        548.275000
Name: wbc_mean, dtype: float64
---------------------------------
count     37815.000000
mean     149916.559223
std       28956.645444
min      100001.000000
25%      124737.500000
50%      149923.000000
75%      175155.000000
max      199999.000000
Name: hadm_id, dtype: float64
---------------------------------
count    37815.000000
mean        29.245934
std         18.247055
min          7.000000
25%         14.000000
50%         23.000000
75%         52.000000
max         57.000000
Name: first_wardid, dtype: float64
---------------------------------
count    37815.000000
mean        29.068650
std         18.122649
min          7.000000
25%         14.000000
50%         23.000000
75%         52.000000
max         57.000000
Name: last_wardid, dtype: float64
---------------------------------
count    37815.000000
mean         4.019432
std          5.836041
min          0.085600
25%          1.195400
50%          2.094800
75%          4.072400
max        153.928000
Name: los, dtype: float64
---------------------------------
count     37815.000000
mean     250196.061722
std       28908.369935
min      200003.000000
25%      225182.500000
50%      250300.000000
75%      275328.500000
max      299999.000000
Name: icustay_id, dtype: float64
---------------------------------
count    37815.000000
mean         9.772981
std         10.493698
min         -0.945139
25%          4.025694
50%          6.845139
75%         11.750347
max        294.660417
Name: los_hospital, dtype: float64
---------------------------------
count    37815.000000
mean        74.620946
std         54.989852
min         14.911114
25%         52.469962
50%         65.791131
75%         78.037656
max        310.280861
Name: admission_age, dtype: float64
---------------------------------
count    37815.000000
mean         0.123840
std          0.329403
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: hospital_expire_flag, dtype: float64
---------------------------------
count    37815.000000
mean         1.127912
std          0.552005
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         25.000000
Name: hospstay_seq, dtype: float64
---------------------------------
count     37815
unique        2
top        True
freq      34490
Name: first_hosp_stay, dtype: object
---------------------------------
count    37815.000000
mean         4.019432
std          5.836041
min          0.085556
25%          1.195422
50%          2.094815
75%          4.072407
max        153.927975
Name: los_icu, dtype: float64
---------------------------------
count    37815.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: icustay_seq, dtype: float64
---------------------------------
count     37815
unique        1
top        True
freq      37815
Name: first_icu_stay, dtype: object
---------------------------------
count    37815.000000
mean     32102.439825
std      17252.730443
min          2.000000
25%      17166.000000
50%      34175.000000
75%      47195.500000
max      58976.000000
Name: row_id, dtype: float64
---------------------------------
count    37815.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: has_chartevents_data, dtype: float64
---------------------------------
count    37763.000000
mean        13.745598
std          2.662349
min          3.000000
25%         14.000000
50%         15.000000
75%         15.000000
max         15.000000
Name: mingcs, dtype: float64
---------------------------------
count    37514.000000
mean         5.101669
std          1.693414
min          1.000000
25%          5.000000
50%          6.000000
75%          6.000000
max          6.000000
Name: gcsmotor, dtype: float64
---------------------------------
count    37550.000000
mean         3.120613
std          2.194762
min          0.000000
25%          0.000000
50%          4.000000
75%          5.000000
max          5.000000
Name: gcsverbal, dtype: float64
---------------------------------
count    37667.000000
mean         3.072504
std          1.141051
min          1.000000
25%          3.000000
50%          4.000000
75%          4.000000
max          4.000000
Name: gcseyes, dtype: float64
---------------------------------
count    37763.000000
mean         0.259354
std          0.438286
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: endotrachflag, dtype: float64
---------------------------------
count    17162.000000
mean       169.965683
std         13.931826
min        106.680000
25%        162.560000
50%        170.180000
75%        177.800000
max        485.140000
Name: height, dtype: float64
---------------------------------
count    17162.000000
mean       169.965683
std         13.931826
min        106.680000
25%        162.560000
50%        170.180000
75%        177.800000
max        485.140000
Name: height_chart, dtype: float64
---------------------------------
count     37762.000000
mean       1981.441846
std        3198.112193
min       -2600.000000
25%        1055.250000
50%        1717.000000
75%        2590.000000
max      561190.000000
Name: urineoutput, dtype: float64
---------------------------------
count    37815.000000
mean         0.463017
std          0.498637
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: vent, dtype: float64
---------------------------------
count    33863.000000
mean        80.798417
std         24.390690
min          1.000000
25%         65.400000
50%         78.000000
75%         92.000000
max       1251.000000
Name: weight, dtype: float64
---------------------------------
count    30489.000000
mean        80.711960
std         24.080905
min          1.000000
25%         65.700000
50%         78.000000
75%         91.699997
max       1251.000000
Name: weight_admit, dtype: float64
---------------------------------
count    20199.000000
mean        83.509425
std         24.398392
min         14.200000
25%         67.400002
50%         80.400002
75%         95.500000
max        491.700000
Name: weight_daily, dtype: float64
---------------------------------
count    37815.000000
mean         0.024514
std          0.154641
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: rrt, dtype: float64
---------------------------------